body {
    font-family: 'Open Sans', sans-serif;
}

label {
    font-weight: 600;
}

.p-0 {
    padding: 0 !important;
}

.px-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.m-0 {
    margin: 0 !important;
}

.mx-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.my-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.w-100-per {
    width: 100%;
}

.login-page {
    height: auto;
    background: url('../images/bg-img.jpg') no-repeat;
    background-size: cover;
    background-position: bottom right;
    background-attachment: fixed;
    position: relative;
}

    .login-page::after {
        content: '';
        position: fixed;
        background: rgba(0,0,0,0.20);
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

.login-box {
    width: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.login-box-body {
    padding: 1.5rem 2.5rem;
    color: #363636;
    border-radius: 0.5rem;
    border: 1px solid #605ca8;
    background: #f8f7ff;
    box-shadow: 4px 3px 15px 5px rgba(12,12,12,0.15);
}

.login-logo {
    margin-bottom: 30px;
}

    .login-logo h5 {
        font-size: 20px;
        display: inline-block;
        font-weight: 600;
    }

.login-box-msg {
    font-size: 16px;
    border-bottom: 1px solid #ccc;
    line-height: 0.1em;
    text-align: center;
    padding: 0;
    margin: 0 0 20px 0;
}

    .login-box-msg span {
        padding: 0 10px;
        vertical-align: middle;
        background: #faf9ff;
    }

.login-form .has-feedback .form-control {
    transition: 0.2s all ease;
}

    .login-form .has-feedback .form-control + span {
        color: #363636;
    }

    .login-form .has-feedback .form-control:focus {
        border-color: #605ca8;
    }

.login-form .has-feedback .form-control {
    padding-left: 32px;
}

.login-form .form-control-feedback {
    left: 0;
    right: auto;
}

.forgot-pwd {
    display: block;
    margin: 15px 0;
    font-weight: 400;
}

.login-btn {
    margin: 10px 0 5px 0;
}

hr {
    border-color: #ccc;
}

.login-footer {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
}

/*--popup--*/
.modal-header.titlegreen {
    background-color: #0073b7;
    font-size: 15px;
    padding: 10px;
    color: #fff;
    margin: 0;
    font-weight: 600;
    border-left: 5px solid #f67f25;
}

    .modal-header.titlegreen button.close {
        opacity: 1;
        color: #fff;
    }

.event-list {
    margin: 0;
    padding: 0;
}

    .event-list li {
        padding: 10px 0;
        display: block;
        color: #222;
        border-bottom: 1px dotted #888;
        text-align: left;
        font-size: 14px;
        font-weight: 500;
    }

        .event-list li .date:before {
            content: "\f101";
            font-family: "FontAwesome";
            font-size: 20px;
            color: #0073b7;
            font-weight: bold;
            margin-right: 5px;
        }

        .event-list li .date {
            font-size: 15px;
            font-weight: 700;
            color: #F67F25;
        }

        .event-list li .download-doc {
            color: #0073b7;
            font-size: 15px;
            font-weight: 700;
            text-decoration: none;
            transition: 0.3s all linear;
            -webkit-transition: 0.3s all linear;
            -moz-transition: 0.3s all linear;
            -ms-transition: 0.3s all linear;
            -o-transition: 0.3s all linear;
            vertical-align: middle;
        }

        .event-list li .content-desc {
            padding: 0 0 0 15px;
            display: block;
        }

.nav-tabs-custom > .nav-tabs li {
    width: 50%;
    text-align: center;
    margin-right: 0;
    border-top: 0 !important;
    border-bottom: 3px solid transparent;
}

    .nav-tabs-custom > .nav-tabs li.active {
        border-bottom-color: #f67f25;
        color: #000;
        font-weight: 600;
    }

@media (max-width: 576px) {
    .login-box {
        width: 90% !important;
    }
}
